.skill-title {
  color: $pink;
  font-size: 5rem;
  text-transform: lowercase;
  font-weight: 300;
}

.skill-body {
  color: $pink;
  font-size: 2rem;
  font-weight: 300;
  text-transform: lowercase;
}
